body {
    background-image: url('/img/black-texture.jpg');
    background-size: 100%;
}

.boxes-wrapper {
    margin: auto;
    margin-top: 70px;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    row-gap: 15px;
    /* grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9"
    "ft ft ft"; */
}

.box1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    /* grid-area: 1; */
}

.box2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    /* grid-area: 2; */
}

.box3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    /* grid-area:3; */
}

.box4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-area: 4; */
}

.box5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-area: 5; */
}

.box6 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    /* grid-area: 6; */
}

.box7 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-area: 7; */
}

.box8 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-area: 8; */
}

.box9 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    /* grid-area: 9; */
}

.boxes {
    width: 150px;
    height: 150px;
    /* background-color: darkgrey; */
    border: 3.5px solid white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px 5px #000000;
}

.boxes-hover:hover {
    background-color: grey;
}

.boxes:active {
    background-color: darkgray;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.won {
    background-color: green;
}

.footer {
    margin: auto;
    margin-top: 20px; 
    width: 480px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 25px 5px #000000;
}